@import "./src/mainSCSS/mixins.scss";

.OnboardingOne {
  height: 100%;

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  button {
    @include backButton();
  }

  .image-placeholder {
    @include imagePlaceholder();
  }

  p {
    @include paragraph();
    // padding: 5px 0;
  }

  .nextButton {
    @include nextButton();
  }
}

.OnboardingTwo {
  height: 100%;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  button {
    @include backButton();
  }

  .image-placeholder {
    @include imagePlaceholder();
  }

  p {
    @include paragraph();
    // padding: 5px 0;
  }

  .nextButton {
    @include nextButton();
  }
}

.OnboardingThree {
  height: 100%;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  button {
    @include backButton();
  }

  .image-placeholder {
    @include imagePlaceholder();
  }

  p {
    @include paragraph();
    // padding: 5px 0;
  }

  .nextButton {
    @include nextButton();
  }
}

.OnboardingFour {
  height: 100%;
  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  button {
    @include backButton();
  }

  .image-placeholder {
    @include imagePlaceholder();
  }

  p {
    @include paragraph();
    font-size: 18px;
  }

  span {
    color: #399741;
  }

  .nextButton {
    @include nextButton();
  }
}
