.Candidate {
  max-width: 700px;
}
.candidate-modal-bottom,
.slide-down {
  display: block;
  position: fixed;
  background: lightgrey;
  bottom: 0vh;
  left: 35;
  height: 93vh;
  width: 100%;
  max-width: 700px;
  z-index: 50;
  border-radius: 20px 20px 0 0;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
  }

  p {
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .exit-icon-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    i {
      font-size: 2rem;
      color: grey;
    }
  }
}

.slide-down {
  height: 13vh;
  transition: height 4s ease;
}
