@import './src/mainSCSS/mixins.scss';


.candidate-card {
    background: white;
    display: flex;
    padding: .3rem;
    border-radius: 5px;
    width: 345px;
    height: 253px;
    margin: 1rem auto;

    h1 {
        padding: 0;
        font-size: 1.5rem;
    }

    p {
        padding: .5rem 0;
    }

    .card-img {
        display: flex;
        background: grey;
        width: 140px;
        height: 224px;
        margin-top: 1rem;
        justify-content: center;
        align-items: center;

        i {
            
            font-size: 5rem;
        }
    }

    .card-body {
        text-align: left;
        margin-left: 1rem;
        padding-top: 1rem;
        width: 50%;

        p {
            font-size: 10px;
        }

        h2 {
            font-size: 15px;
        }

        ol {
            margin-bottom: 16px;

        }

        li {
            padding-top: .2rem;
            font-size: 12px;

        }
    }

    button {
        @include buttonBase();
        width: 165px;
        height: 40px;
        font-size: 1rem;
        border-radius: 0;
        margin: 2px 0;

    }
}