@import './src/mainSCSS/mixins.scss';

.ballot-measure {
    background-color: #E5E5E5;
    height: 100vh;

    .ballot-bottom-buttons {
        display: flex;
        flex-direction: column;
        

        button {
            @include buttonBase();
            background-color: #333333;
            color: white;
            font-size: 22px;
            font-weight: bold;
            margin: 1rem 2rem 1.5rem 2rem;
            width: 303px;
            padding: 1rem 2.5rem;
            border-radius: 5px;
        }
    
        a {
            text-decoration: none;
            color: black;
    
            &:hover {
                color: gray;
            }
    
            &:visited {
                color: black;
            }
        }
        
    }

    .election-date {
        margin-bottom: 1.5rem;
    }

    .ballot-measure-instructions {
        width: 70%;
        margin: 1rem auto 2rem auto;
    }

    .help-container {
        padding: 2rem 2rem 0 0;
        text-align: right;
        i {
            margin: 5px;
        }
    }

    .logo {
        margin: 1rem 0 2rem 0;
    }

    .category-card {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        border-radius: 5px;
        margin: 1rem;
        font-weight: bold;
        text-align: left;
        font-size: 1rem;
        background: #F4F4F4;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 5px;

        .card-title {
            display: flex;
            padding: 1rem;
            width: 100%;

            p {
                width: 200px;
            }
        }

        .card-count {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;


            p {
                font-size: 1.2rem;
                color: gray;
            }
        }

        .card-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid gray;
            border-radius: 0 5px 5px 0;
            background: #F4F4F4;

            i {
                margin: 0 1rem;
            }
        }
    }
}