@import "./src/mainSCSS/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.VoterInfo {
  .backButton {
    @include backButton();
  }

  h1 {
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #333333;
    margin: 0 auto;
    margin-top: 20px;
  }

  .dataPulled {
    font-weight: normal;
    margin-top: 100px;
  }

  p {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 190px;
  }

  .beginButton {
    margin: 0 auto;
    width: 300px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #424040;
    border-radius: 10px;
    margin-top: 20px;
  }
}
