@mixin buttonBase {
  font-size: 25px;
  color: #684900;
  background-color: #EFB11E;
  border: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 303px;
}

@mixin backButton {
  border: none;
  background: none;
  font-size: 40px;
  color: grey;
  // border-radius: 50%;
  display: block;
  // width: 59px;
  // height: 59px;
  // box-shadow: 1px 3px 3px #888888;
  cursor: pointer;
  margin-top: 58px;
  margin-left: 18px;
}

@mixin imagePlaceholder {
  background: gray;
  width: 259px;
  height: 259px;
  margin: 2em auto;
}

@mixin nextButton {
  font-size: 36px;
  color: black;
  cursor: pointer;
  border-radius: 13px;
  border: none;
  width: 280px;
  height: 66px;
  margin: 0 auto;
  background: lightgray;
  padding: 10px;
}

@mixin paragraph {
  height: 120px;
  width: 300px;
  font-size: 20px;
  margin: 80px auto 0px auto;
}
