@mixin buttonBase {
  font-size: 25px;
  color: #684900;
  background-color: #efb11e;
  border: none;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 303px;
}

@mixin backButton {
  border: none;
  background: none;
  font-size: 40px;
  color: grey;
  // border-radius: 50%;
  display: block;
  // width: 59px;
  // height: 59px;
  // box-shadow: 1px 3px 3px #888888;
  cursor: pointer;
  margin-top: 38px;
  margin-left: 18px;
}

@mixin imagePlaceholder {
  width: 240px;
  height: 240px;
  margin: 2em auto;
}

@mixin nextButton {
  font-size: 28px;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 280px;
  height: 60px;
  margin: 0 auto 50px auto;
  background: #efb11e;
  padding: 10px;
}

@mixin paragraph {
  text-align: center;
  color: #6f6f74;
  height: 106px;
  width: 281px;
  line-height: 23px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto 0px auto;
}
