@import "../../mainSCSS/mixins.scss";

.LandingPage {
  background: linear-gradient(#8ec43b, #218a42);
  height: 100vh;

  #button-div {
    margin-top: 50px;
  }

  button {
    @include buttonBase();
  }

  img {
    width: 292px;
    margin-top: 100px;
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    width: 75%;
    margin: 0 auto;
    color: #ffffff;
    margin: 20px auto;
  }
}
