@import '../../mainSCSS/mixins.scss';


.LandingPage {
  background: linear-gradient(#8EC43B, #218A42);

  #button-div {
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  button {
    @include buttonBase();
  }

  img {
    width: 292px;
    margin-top: 100px;
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    width: 75%;
    margin: 0 auto;
    color: #FFFFFF;
    margin: 20px auto;
  }
}
