.closed {
  border-radius: 50%;
  background-color: #ABABAB;
  border: .5px solid #BEBEBE;
  height: 15px;
  width: 15px;
}

.open {
  border-radius: 50%;
  background: #F1F1F1;
  border: .5px solid #BEBEBE;
  height: 15px;
  width: 15px;
}

.progressBar {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}

.category-card {
  display: flex;
}
