@import './src/mainSCSS/mixins.scss';

.modalBottom {
    display: block;
    position: fixed;
    background: lightgrey;
    bottom: 0vh;
    left: 35;
    height: 90vh;
    width: 100%;
    max-width: 700px;
    z-index: 50;
    border-radius: 20px;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        padding: 0rem 1rem 0 1rem;
    }

   p{
       padding-top: 1rem;
       line-height: 1.2rem;
   }

    .exit-icon-container {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        i {
            font-size: 2rem;
            color: grey;
            
        }

    }




}

.choice-container{
    background: #E5E5E5;
    margin-top: 1rem;
    text-align: left;

    p {
        padding-left: 1rem;
    }

    button {
        @include buttonBase();
        border-radius: 5px;
        font-size: 1rem;
        
        
    }

    .confirm-button-container {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    .choice-toggle {
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        i {
            padding-top: 1rem;
        }
    }
}